<h1>Disaster Map</h1>
<button (click)="test()">test</button>
<div style="display: block;height: 90%;" >
<div style="display:inline-block; width:30%; height:100%;" >
  <div *ngIf="selectedCountry==''" class="nonews">

    <h1>Click on a country to see its top news stories</h1>
  </div>
  <div *ngIf="selectedCountry!=''" class="news">
    
<h2>{{selectedCountry}}</h2>
<h3>description description descriptiondescriptiondescription descriptiondescription description description description</h3>
<p>links?>></p>
<p>links?>></p>

<p>links?>></p>

<p>links?>></p>

    </div>
</div>
<div style="display: inline-block; width: 70%; height: 100%;">
<agm-map >
  <agm-overlay *ngFor="let item of codes | keyvalue" [latitude]="longLat[item.value][0]" [longitude]="longLat[item.value][1]"(click)="click(item.key)">
    <div style=" height: 20px; width: 20px" (click)="click(item.key)">
    <img src="../assets/red.png" style="height:20px; margin: 10px 0px 0px 10px">
  </div>
    <!-- <div style="position: relative; border-style: solid; position: relative; z-index: 100;" (click)="click(item.key)">
      <span class="dot"></span>
    </div> -->
  </agm-overlay>
</agm-map>
</div>
</div>
<div style="display:block;">
<p>Powered By News API</p>
</div>