agm-map {
    height: 402px;
    vertical-align: top;
    margin: 2px 0;
}

h4 {
    margin: 4px 0;
    padding: 0;
}

.news-title {
    margin: 2px 0;
    padding: 0;
}

a {
    color: maroon;
    margin: 0;
    padding: 0;
}

.news{
  width:100%;
  display: inline-block;
  /* border-style:solid; */
  margin-top: 1px;
  min-height: 400px;
  max-height: 400px;
  overflow-y: auto;
  vertical-align: top;
}

.news-item {
    margin: 1px 0;
    padding: 0 4px;
    width: 100%;
    display: inline-block;
    border-color: black;
    border-width: 1px 0;
    border-style: solid;
}
.nonews{
  width:100%;
  display: inline-block;
  /* border-style:solid; */
  min-height: 400px;
  text-align: center;
}

.title{
    text-align: center;
}

.filter-block {
    /*border: 1px solid black;*/
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.filter-container {
    text-align: center;
    width: 100%;
    border: 1px solid black;
    margin: 4px 0;
    padding: 12px 0;
}
