* {
    font-family: "lato", sans-serif;
}

agm-map {
    height: 702px;
    vertical-align: top;
    margin: 2px 0;
}

h4 {
    margin: 4px 0;
    padding: 0;
}

.news-title {
    margin: 2px 0;
    padding: 0;
}

a {
    color: maroon;
    margin: 0;
    padding: 0;
}

.news{
  width:90%;
  display: inline-block;
  border: 1px dashed black;
  margin: 1px 15px;
  min-height: 700px;
  max-height: 700px;
  overflow-y: auto;
  overflow-x: none;
  vertical-align: top;
}

.news-item {
    margin: 1px 0;
    padding: 0 4px;
    width: 100%;
    display: inline-block;
    border-color: black;
    border-width: 1px 0;
    border-style: solid;
}
.nonews{
  width:90%;
  display: inline-block;
  border: 1px dashed black;
  min-height: 700px;
  margin: 1px 15px;
  text-align: center;
}

.title{
    text-align: center;
}

.filter-block {
    /*border: 1px solid black;*/
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.filter-container {
    text-align: center;
    width: 100%;
    border: solid black;
    border-width: 1px 0 0 0;
    margin: 15px 0;
    padding: 12px 0;
}
