<div class="title">
    <h1>MapMapp</h1>
</div>

<div style="display: block;height: 90%;">
    <div style="display: block;height: 90%;">
    <div style="display:inline-block; width:40%; height:100%; margin: auto;">
        <div *ngIf="selectedCountry==''" class="nonews">
            <h1>Click on a country to see its top news stories</h1>
        </div>

        <div *ngIf="selectedCountry!=''" class="news">
            <h2 style="text-align: center;">{{selectedCountry}}</h2>
            <div *ngFor="let item of selectedNews">
                <div class="news-item">
                    <a href="{{item.url}}"><h4 class="news-title">{{item.title}}</h4></a>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
    </div>

    <div style="display: inline-block; width: 60%; height: 100%; vertical-align: top;">
    <agm-map [zoom]="2">
        <agm-circle [radius] = "100000" *ngFor="let item of codes | keyvalue" [latitude]="longLat[item.value][0]" [longitude]="longLat[item.value][1]" [fillColor]="'red'" [fillOpacity]="0.9" (circleClick)="click(item.key)"></agm-circle>
    </agm-map>
    </div>
</div>

<div style="display: block;height: 90%;">
    <div class="filter-container">
        <div class="filter-block">
        <h4>Custom Search</h4>
        <button (click)="search()">Search</button>
        </div>
        <div class="filter-block">
        <h4>Keyword</h4>
        <input style="display:inline-block"  type="text" [formControl]="keyword"label="Keyword">
        </div>
        <div class="filter-block">
        <h4>Category</h4>
        <app-input-radio-set [props]="categoryFilterSet" (categoryChooser)="getCategory($event)" style="vertical-align: top;"></app-input-radio-set>
        </div>
    </div>
</div>
</div>

<p>Powered By News API</p>
